# os

#
# -- if this PyYAML line fails on Windows, try installing the (free) version of Visual Studio
#    to get the missing library...
PyYAML
pysocks
lxml
jira
jira_tools
openpyxl
requests
urllib3
git+http://github.com/paulha/jira_client.git
git+http://github.com/paulha/jama_client.git
git+http://github.com/paulha/jazz_dng_client.git
# git+http://bitbucket.org/paulha/otc_tools.git
git+http://github.com/paulha/utility_funcs.git
git+http://github.com/paulha/main_line.git
pandas
pytest
regex